a, h1 {
  color: red;
  font-weight: bold;
}
a:hover{color: green;}
a:active {
color: #FFFF00; 
}
html, 
header{display: flex;flex: auto；}
body{1display: flex;flex-direction: column;background:linear-gradient (91deg,#f1eefc,#9dc6ff 70%,#a5bcff)}
main{display: flex;flex: auto；}
aside{flex:1;background-image:url('m.jpg');
       background-position:center;
       background-size: cover;
       color:#00FFFF;border: 2px solid black;}
article{flex:3;border: 2px solid black;background-image:url('n.jpg');}
